@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --primary-color: #ac3ef5;
  --secondary-color: #ff0070;
  --green-color: #05c95a;
  --card-color-dark: #191827;
  --card-color-light: #fff;
  --card-color-medium: #f3f3f3;
  --title-color-dark: #f9f9f9;
  --title-color-light: #111;
  --subtitle-color: #666;
  --body-color: #e2e2e2;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--body-color);
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
/*CARD CONTACT*/
section#card-contact {
  width: 300px;
  height: auto;
  padding: 2rem;
  border-radius: 1.5rem;
  background-color: var(--card-color-light);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}
#card-contact header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1.5rem;
}
#card-contact header h1 {
  color: var(--title-color-light);
  letter-spacing: -0.5px;
  font-weight: 500;
  font-size: 1.3rem;
}
#card-contact header h3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 0.5rem;
  color: var(--subtitle-color);
  font-size: 0.9rem;
  word-spacing: 0.1rem;
  font-weight: 400;
}
#card-contact main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
#card-contact main ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
#card-contact main li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#card-contact main li ion-icon {
  font-size: 1.1rem;
  padding: 0.5rem;
}

#card-contact main li ion-icon.mail1 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--card-color-light);
  border-radius: 50%;
  background-color: var(--secondary-color);
  transition: 0.5s;
  cursor: pointer;
}
#card-contact main li ion-icon.mail1:hover {
  box-shadow: 0 0 9px var(--secondary-color);
  transition: 0.5s;
}
#card-contact main li ion-icon.mail2 {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--card-color-light);
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: 0.5s;
  cursor: pointer;
}
#card-contact main li ion-icon.mail2:hover {
  box-shadow: 0 0 9px var(--primary-color);
  transition: 0.5s;
}
#card-contact main li .material-icons {
  font-size: 18px;
}
#card-contact main li div {
  display: flex;
  gap: 0.1rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
#card-contact main li div .email {
  color: var(--title-color);
  font-size: 0.8rem;
  font-weight: 300;
}
#card-contact main li div .owner {
  color: var(--subtitle-color);
  font-size: 0.7rem;
  font-weight: 300;
}

#card-contact footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}
#card-contact footer ion-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.6rem;
  color: var(--subtitle-color);
  border-radius: 50%;
  transition: 0.5s;
}
#card-contact footer ion-icon:hover {
  background-color: var(--card-color-medium);
  transition: 0.5s;
}
#card-contact footer ion-icon:nth-child(1):hover {
  color: #3b5998;
}
#card-contact footer ion-icon:nth-child(2):hover {
  color: #00acee;
}
#card-contact footer ion-icon:nth-child(3):hover {
  color: #ff1981;
}
#card-contact footer svg path {
  fill: var(--card-color-dark);
}
#card-contact footer #twitter svg path {
  stroke: var(--card-color-dark);
  stroke-width: 0;
  fill: var(--card-color-dark);
}
/*CARD CONGRATS*/
section#congrats {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--card-color-light);
  border-radius: 1.5rem;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.05);
}
#congrats header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#congrats header h1 {
  color: var(--title-color-light);
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: -1px;
}
#congrats header ion-icon {
  color: var(--subtitle-color);
  border-radius: 50%;
  padding: 0.5rem;
  transition: 0.3s;
  font-size: 1rem;
  cursor: pointer;
}
#congrats header ion-icon:hover {
  transition: 0.3s;
  background-color: var(--card-color-medium);
}
#congrats header ion-icon:nth-child(1) {
  color: var(--green-color);
}
#congrats main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#congrats main p {
  line-height: 1.5rem;
  color: var(--subtitle-color);
  font-size: 0.9rem;
  font-weight: 400;
  margin: 1rem 0;
}
#congrats footer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
}
#congrats footer a {
  text-decoration: none;
  background: linear-gradient(
    135deg,
    var(--secondary-color),
    var(--primary-color)
  );
  color: var(--card-color-light);
  font-weight: 400;
  font-size: 0.7rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: 0.5s;
  cursor: pointer;
}
#congrats footer a:hover {
  transform: translateY(-1px);
  box-shadow: 0 3px 9px rgba(212, 12, 96, 0.8);
  transition: 0.5s;
}
/*CALENDAR*/
section#calendar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--card-color-light);
}
section#calendar header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
section#calendar header ul li {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
section#calendar header ul li:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  padding: 0.3rem 0.7rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: 0.3s;
  cursor: pointer;
}
section#calendar header ul li:not(:nth-child(1)) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}
section#calendar header ul li:nth-child(1):hover {
  transition: 0.3s;
  transform: translateY(-1px);
  box-shadow: 0 3px 5px rgba(212, 12, 96, 0.7);
}
section#calendar header ul li span.day {
  margin: 0;
  font-size: 1.5rem;
  color: var(--card-color-light);
  font-weight: 500;
}
section#calendar header ul li span.month {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--card-color-medium);
}
section#calendar header ul li span.time {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--title-color-light);
  background-color: var(--card-color-medium);
  border-radius: 0.4rem;
  padding: 0.2rem;
  transition: 0.3s;
  cursor: pointer;
}
section#calendar header ul li span.time:hover {
  color: var(--card-color-light);
  background-color: var(--secondary-color);
  transition: 0.3s;
}
section#calendar header ul li span.desc {
  text-transform: uppercase;
  font-size: 0.7rem;
  color: var(--subtitle-color);
}
section#calendar footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  height: 30px;
  transition: 0.3s;
}
section#calendar footer a:hover {
  transition: 0.3s;
  transform: translateY(-1px);
  box-shadow: 0 3px 6px rgba(212, 12, 96, 0.8);
}
section#calendar footer a {
  text-decoration: none;
  text-align: center;
  line-height: 30px;
  width: 100%;
  height: 30px;
  color: var(--card-color-light);
  font-size: 0.7rem;
  font-weight: 300;
  background: linear-gradient(
    135deg,
    var(--secondary-color),
    var(--primary-color)
  );
  margin: 0.3rem;
  border-radius: 0.5rem;
  transition: 0.3s;
}
/*BAG*/
section#bag{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 150px;
	height: 150px;
	cursor: pointer;
	border-radius: 0.5rem;
	transition: 0.5s;
	background: rgba(255,0,112,1);
}
section#bag:hover{
	background: rgba(255,0,112,0.5);
	transition: 0.5s;
}
section#bag:after{
	content: "";
	position: absolute;
	width: 50%;
	height: 50%;
	transition: 0.5s;
	top: 0;
	left: 25%;
	background: rgba(172,62,245,0.5);
	border-radius: 50%;
	z-index: -1;
}
section#bag:hover:after{
	transition: 0.5s;
	top: -50px;
}
